<!DOCTYPE html>
<html>
  <head>
    <title>Ujs</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.css">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
